.banner{
    height: 800px;
}
#pointer{
    cursor:pointer;
}
.search-area-container{
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top:80px;
}
.select-list {
    width: 25%;
    height: 36px;
    font-size: 16px;
    font-weight:100;
    letter-spacing: 5px;
    color:#000;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #fff;
}
.custom-select {
    position: relative;
    z-index: 0;
    min-width: 13%;
    height: 36px;
    font-size: 16px;
    font-weight:100;
    letter-spacing: 5px;
    color:#000;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #fff;
  }
  
  .selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    color: #333;
    padding: 8px;
    border: 1px solid #ccc;
  }
  .show{
    display:block;
  }
  .hide{
    display: none;
  }
  
  .option-list {
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    li {
        padding: 8px;
        cursor: pointer;
        &:hover{
          background-color: #747070;
        }
      }
  }
  

.where-to-go {
  position: relative;
  label {
    position: absolute;
  }
  input{
    width: 100%;
    height: 40px;
  }
  .where-to-go-input{
    padding:10px ;
    display: flex;
    align-items: center;
    gap:5px;
  }
}