.contact-container{
    max-width: 1440px;
    margin: 0 auto;
}
.contact-info{
    background-image: url('../web_pictures/free_use/free_use_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1040px;
    height: 600px;
    margin: 0 auto;
    margin-top: 40px;
    .contact-card{
        width: 45%;
        height: 100%;
        padding:35px;
        background-color: rgba(255, 255, 255, 0.8);
        p{
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.1em;
        }
    }
}