@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.container-top {
  margin: 0 auto;
  max-height: 760px;
}

.container-top::before {
  content: "";
  position: absolute;
  max-height: 760px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../web_pictures/banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.7); /* 調整背景圖片的亮度 */
  z-index: -1; /* 將偽元素放在背景 */
}

Nav {
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 2px rgb(95, 94, 94);
}
Nav ul {
  height: 100%;
}
Nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
}
Nav a {
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
Nav span {
  height: 100%;
  padding: 30px;
}

.material-symbols-outlined {
  font-size: 36px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-select {
  width: 200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.nav-select .nav-option {
  position: relative;
}
.nav-select .nav-option a:hover::before {
  content: "";
  position: absolute;
  top: 10px; /* 距離容器頂部的距離 */
  bottom: 30px; /* 距離容器底部的距離 */
  left: 5px; /* 距離容器左側的距離 */
  right: 5px; /* 距離容器右側的距離 */
  border-bottom: 2px solid #F6A21A;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.banner {
  height: 800px;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
  color: #FFFFFF;
  text-align: center;
  margin-right: 135px;
  cursor: default;
}

#pointer {
  cursor: pointer;
}

.search-area-container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.custom-select {
  position: relative;
  z-index: 0;
  min-width: 140px;
  height: 44px;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 5px;
  color: #000;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fff;
}

.selected-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  color: #333;
  padding: 12px;
  border: 1px solid #ccc;
}
.selected-option p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.option-list {
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}
.option-list li {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.option-list li:hover {
  background-color: #747070;
}

.where-to-go {
  position: relative;
  min-width: 246px;
}
.where-to-go label {
  position: absolute;
  font-size: 12px;
}
.where-to-go input {
  width: 100%;
  height: 100%;
  height: 46px;
}
.where-to-go .where-to-go-input {
  padding: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner-content {
  max-width: 570px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.banner-content:before {
  content: "";
  position: absolute;
  top: 85px; /* 距離容器頂部的距離 */
  bottom: -5px; /* 距離容器底部的距離 */
  left: -5px; /* 距離容器左側的距離 */
  border-left: 3px solid #F6A21A;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  color: #fff;
  cursor: pointer;
  width: 101px;
  height: 48px;
  border: 2px solid #fff;
}
.button:hover {
  background-color: #F6A21A;
  border: transparent;
  color: #000;
}

.container-intro {
  max-width: 1440px;
  margin: 0 auto;
  cursor: default;
}

.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #1F1E1D;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  /* Yellow */
  color: #F6A21A;
}

.steps {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 80px;
}
.steps img {
  width: 30px;
  height: 30px;
}
.steps .step-card {
  min-width: 273px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.steps .step-card img {
  width: 100px;
  height: 100px;
}
.steps .step-card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.05em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1F1E1D;
}
.steps .step-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
}

.cardNo1 {
  position: relative;
}
.cardNo1:before {
  content: "1";
  position: absolute;
  top: -40px;
  left: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.1em;
  color: #51AB5B;
}

.cardNo2 {
  position: relative;
}
.cardNo2:before {
  content: "2";
  position: absolute;
  top: -40px;
  left: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.1em;
  color: #51AB5B;
}

.cardNo3 {
  position: relative;
}
.cardNo3:before {
  content: "3";
  position: absolute;
  top: -40px;
  left: 48px;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.1em;
  color: #51AB5B;
}

.container-recommendation {
  max-width: 100vw;
  margin: 0 auto;
  background-color: #F7F7F7;
  cursor: default;
}

.recommendation-content {
  padding-top: 80px;
  padding-bottom: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align {
  display: flex;
  align-items: center;
}

.route-cards {
  width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding-top: 25px;
}
.route-cards .route-card {
  background-color: #fff;
  min-width: 336px;
  height: 114px;
  display: flex;
  cursor: pointer;
  border: 1px solid transparent;
}
.route-cards .route-card:hover {
  border: 1px solid black;
}
.route-cards .route-card .card-pic img {
  width: 160px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.route-cards .route-card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding-left: 15px;
}
.route-cards .route-card .card-content .material-symbols-outlined {
  color: green;
}

.more-button {
  margin-top: 32px;
  border: 1px solid black;
  padding: 12px 48px;
  font-size: 16px;
  line-height: 23px;
  cursor: pointer;
}
.more-button:hover {
  background-color: #F6A21A;
}

.partner-container {
  width: 1440px;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=style.css.map */